<div class="container-fluid">
  <!-- SPACER 25 -->
  <div class="spacer25"></div>

  <!-- GOOGLE MAPS -->
  <div id="map" class="well"></div>

  <!-- SHOW / CLEAR ALL SURF SESSION MARKERS -->
    <alert type='danger' class="text-center" close="map.closeAlert()" ng-if='map.removeMarker'>{{map.removeMarker}}</alert>
  <div class="well">
    <!-- SHOW SESSIONS / CLEAR MAP -->
    <button type="button" class='btn btn-default' ng-click="map.displaySurfSessions()">My Sessions</button>
    <button type="button" class='btn btn-danger pull-right'  ng-click="map.removeSurfSessions()">Clear Map</button>
  </div>

  <!-- NEW SURF SESSION FORM -->
  <div class="row col-sm-6 col-sm-offset-3">
    <form ng-submit="map.saveSurfSession()" class="well">
      <!-- Surf Title Input -->
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="What's your spot's name?" ng-model="map.surfData.title">
      </div>

      <!-- Surf Comment Input -->
      <div class="form-group">
        <label>Comment</label>
        <input type="text" class="form-control" placeholder="Comment?" ng-model="map.surfData.comment">
      </div>

      <!-- ALERT MESSAGE -->
      <alert type='success' close="map.closeAlert()" ng-if='map.alert'>{{map.alert}}</alert>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-block btn-info">
        <!-- Show Submit -->
        <span ng-if="!map.processing">Submit</span>
        <!-- Show spinner animation when submitting -->
        <span ng-if="map.processing" class="spinner">
          <span class="glyphicon glyphicon-repeat"></span>
        </span>
      </button>

    </form>
  </div>

</div>

<!-- SPACER 150 -->
<div class="spacer150"></div>
