<!-- BACKGROUND IMAGE -->
<div class="background-img">
  <div class="container-fluid">
    <!-- TITLE -->
    <div class="row col-sm-6 col-sm-offset-3">
      <div id="title">
        <h1 class="text-center">SWELLS</h1>
        <h4 class="text-center">
          Save Each Session
        </h4>
      </div>
      <!-- LOGIN/SIGNUP BUTTONS -->
      <div class="row col-sm-6 col-sm-offset-3">
        <a href="/login" class="btn btn-block btn-success">Log In</a>
        <a href="/signup" class="btn btn-block btn-info">Sign Up</a>
      </div>

    </div>


  </div>
</div>

<!-- SPACER 50 -->
<div class="spacer50"></div>


<!-- BANNER -->
<div class="row">
  <div class="container-fluid">
    <!-- MAP IT -->
    <div class="col-sm-4 ">
      <h2 class="text-center">Map It <span class="glyphicon glyphicon-map-marker"></span></h2>
      <p>
        Never forget a spot again. With swells you can easily place markers on a map
        so that you could always remember the location of that awesome session you had.
      </p>
    </div>

    <!-- SAVE IT -->
    <div class="col-sm-4 ">
      <h2 class="text-center">Save It <span class="glyphicon glyphicon-floppy-disk"></span></h2>
      <p>
        Can't remember what the conditions were like of your last session? Then save it with Swells.
        Leave comments with details about the surf conditions at a certain spot.
      </p>
    </div>

    <!-- MAP IT -->
    <div class="col-sm-4 ">
      <h2 class="text-center">List It<span class="glyphicon glyphicon-list-alt"></span></h2>
      <p>
        If you have too many sessions, then you can always check your list of surf sessions. With a list
        you can edit or delete them with ease.
      </p>
    </div>

  </div>
</div>

<!-- SPACER 150 -->
<div class="spacer150"></div>
