/**************************************************
  GENERAL
**************************************************/

// =========================
// Animation Mixin
// =========================
@mixin spin-animation($spin){
	-webkit-animation: $spin;
	-moz-animation: $spin;
	animation: $spin;
}

@mixin key-frames($spin){
	@-webkit-keyframes #{$spin} {
		@content;
	}
	@-moz-keyframes #{$spin} {
		@content;
	}
	@keyframes #{$spin} {
		@content;
	}
}

// =========================
// Spacers Mixins
// =========================
@mixin spacers($height,$width,$font,$mar,$pad,$border,$display){
	height: $height;
	width: $width;
	font-size: $font;
	margin: $mar;
	padding: $pad;
	border: $border;
	display: $display;
}

// =========================
// Background-Image Mixins
// =========================
@mixin background($image,$repeat,$position,$size,$height){
	background: {
		image: url($image);
		repeat: $repeat;
		position: $position;
		size: $size;
	}
	height: $height;
}


// =========================
// VARIABLES
// =========================
$dark-gray: rgb(50, 50, 50);


html,
body {
	height: 100%;
}
/**********************
BOOTSTRAP OVERIDE
***********************/
.navbar{
	margin-bottom: 0px;
	padding: 15px 0;
	background-color: $dark-gray;
}

.navbar-text{
	padding: 0 10px;
}


/**********************
SPACERS
***********************/
.spacer25 {
	@include spacers(25px,100%,0,0,0,0,block)
}


.spacer50 {
	@include spacers(50px,100%,0,0,0,0,block)
}


.spacer100 {
	@include spacers(100px,100%,0,0,0,0,block)

}

.spacer150 {
	@include spacers(150px,100%,0,0,0,0,block)
}


/**********************
FOOTER
***********************/

.footer{
	width: 100%;
	padding: 10px 0;
	height: 50px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	background-color: $dark-gray;
	color: #858585;
	border-top: 5px solid rgb(75, 75, 75);
}

/**********************
LANDING PAGE (/swells)
***********************/
.background-img {
  @include background('/assets/img/surfers.jpg', no-repeat, bottom center, cover, 500px);
	padding: 165px 0;
}

.background-img-login {
  @include background('/assets/img/waves.jpg', no-repeat, bottom center, cover, 100vh);
}

.background-img-signup {
  @include background('/assets/img/pier.jpg', no-repeat, bottom center, cover, 100vh);
}

#title{
	text-shadow: 0 0 20px gray;
	h1 {
		margin: 0;
		font-size: 5em;
	}
}


/**********************
MAP
***********************/


#map{
	height: 400px;
	width: 100%;
}

.gm-style-iw{
	padding: 0;
	background-color: #464545;
	border-radius: 10px;
	text-align: center;
}


.iw-title{
	background-color: #46BCEC;
  border-radius: 5px;
  padding: 10px;
}

.iw-comment{
	background-color: gray;
  border-radius: 5px;
  padding: 10px;
}




/**************************************************
  ANIMATIONS
**************************************************/
.spinner {
	@include spin-animation(spin 1s infinite )
}

@include key-frames(spin){
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}
