/**************************************************
  GENERAL
**************************************************/

/**********************
BOOTSTRAP OVERIDE
***********************/
.navbar{
	margin-bottom: 0px;
}


/**********************
LANDING PAGE (/swells)
***********************/

.background-img {
  background: url(/assets/img/surfers.jpg) no-repeat bottom center;
	background-size: cover;
	height: 500px;
	padding: 165px 0;
}

#title{
	text-shadow: 0 0 20px gray;
}

#title h1{
	margin: 0;
	font-size: 5.5em;
}


/**********************
MAP
***********************/


#map{
	height: 400px;
	width: 100%;
}

.iW{
	background-color: gray;
	padding: 10px;
}


/**************************************************
  ANIMATIONS
**************************************************/

.spinner {
	animation:spin 1s infinite;
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }
	to 	{ -moz-transform:rotate(360deg); }
}
